<article id="login">
<img src="https://i.imgur.com/FmTqse5.png" />
<h2>Find the right time. <strong>Together</strong></h2>
  <div><h1>Sign Up</h1></div>
  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
        <% for message in @user.errors.full_messages %>
          <p id="alert">- <%= message %></p>
        <% end %>
  <% end %>

        <div class="form-row">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
        <div class="form-row">
          <%= f.label :email %>
          <%= f.text_field :email %>
        </div>
        <div class="form-row">
          <%= f.label :password %>
          <%= f.password_field :password %>
        </div>
        <div class="form-row">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation %>
        </div>
        <div id="create-account-btn"><%= f.submit %></div>
        <div>
          <p><strong>Already have an account? </strong>&nbsp;&nbsp;|&nbsp;&nbsp;
          <%= link_to 'Log In', login_path %></p>
        </div>
    
</article>
<% end %>