<div class="item1">
    <h1>Events I'm Invited To</h1>
<% if @events.length == 0 %>
    <h3>Hmm... no events here yet.<br>
    <p class="done"><%= link_to 'create one', new_event_path %></h3>
    </p>
<% else %>
    <% @events.each do |e| %>
        <h2>- <%= e.title %></h2>
        <h3>Any of these times work for you?</h3>
        <ul>
            <% e.availabilities.each do |avail| %>
                <li class="avail-slots">
                    <%= avail.start.localtime.strftime("%c") %> - 
                    <%= avail.end.localtime.strftime("%c") %>
                    <%= link_to('Works For Me', availability_approveds_path(avail), method: :post) if current_user.approveds.where(availability: avail).empty? %>
                    <%= link_to("Doesn't Work For Me", approved_path(avail), method: :delete) if current_user.approveds.where(availability: avail).exists? %>
                </li>
            <% end %>
        </ul>
    <% end %>
<% end %>
</div>