<%= form_for @event do |f| %>
    <div class="event">
        <div>
            <%= f.label :title %>
            <%= f.text_field :title %>
        </div>
        <div>
            <%= f.label :location %>
            <%= f.text_field :location %>
        </div>
        <div>
            <p>Add some possible time slots</p>
            <p><%= select_date Time.now, prefix: :date_slot %></p>
            <p><%= select_time Time.now, prefix: :start_time %></p>
            <p><%= select_time Time.now, prefix: :end_time%></p>
        </div>
        <%= f.submit 'Add Possible Time'%>
    </div>
<% end %>
        
<%= month_calendar(start_time: :start_date, end_time: :end_date) do |date| %>
    <%= date.day %>
<% end %>