<div class="item1">
<h1>Events I'm <strong>Hosting</strong></h1>
  <% if @events.length == 0 %>
    <h3>You don't have any events yet. <br>
    <p class="done"><%= link_to 'create one', new_event_path %></h3>
  <% else %>
  <div>
    <table>
    <tbody>
      <tr>
        <td ><h3>Title</h3></td>
        <td><h3>Location</h3></td>
        <td colspan="5"><h3>Edit</h3></td>
      </tr>
      <% @events.each do |event| %>
        <tr>
          <td class="event"><strong><%= event.title %></strong></td>
          <td class="event"><%= event.location %></td>
          <td class="event"><%= link_to 'View', event %></td>
          <td>|</td>
          <td class="event"><%= link_to 'Edit', edit_event_path(event) %></td> 
          <td>|</td>
          <td class="event"><%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
    </table>
    <br>
    <p class="done"><%= link_to 'New Event', new_event_path %></a>
  </div>
  <% end %>
</div>