<div class="item1">
<h1>My Events</h1>
  <% if @events.length == 0 %>
    <h3>You don't have any events yet. <br>
    <p class="done"><%= link_to 'create one', new_event_path %></h3>
  <% else %>
  <div>
    <table>
    <thead>
      <tr>
        <th><h3>Title</h3></th>
        <th><h3>Location</h3></th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td class="event"><strong><%= event.title %></strong></td>
          <td class="event"><%= event.location %></td>
          <td class="event"><%= link_to 'View', event %> | </td> 
          <td class="event"><%= link_to 'Edit', edit_event_path(event) %> | </td> 
          <td class="event"><%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
    </table>
    <br>
    <p class="done"><%= link_to 'New Event', new_event_path %></a>
  </div>
  <% end %>
</div>