<div class="block">
<h1>What's the occasion?</h1>
    <%= form_for @event do |f| %>
        <div>
            <%= f.label :title %>
            <%= f.text_field :title %>
        </div>
        <div>
            <%= f.label :location %>
            <%= f.text_field :location %>
        </div>
        <div>
            <%= f.submit "Next" %>
        </div>
    <% end %>
    <div>
        <%= link_to 'Cancel', events_path %>
    </div>
</div>