<div class="item1">
  <h1><%= @event.title %></h1>
  <h2><%= @event.location %></h2>
  <div>
    <h3><strong>Copy this link to send an invite: </strong></h3>
    <p><a><%= @invite_url %></a></p>
  </div>
  <br>
  <%= form_for @event do |f| %>
    <h3>Possible Times</h3>
    <ul>
      <% @event.availabilities.each do |avail| %>
        <li class="avail-slots"><%= avail.start.localtime.strftime("%c") %> - <%= avail.end.localtime.strftime("%c") %> (<%= avail.approveds.count %>) | <%= link_to 'Delete', availability_path(avail), method: :delete %></li>
      <% end %>
    </ul>
  <% end %>
  <div>
    <% if current_user %>
      <% if current_user.id == @event.user.id %>
        <p class="edit"><%= link_to 'Edit', edit_event_path(@event) %></p>
        <p class="done"><%= link_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      <% end %>
    <% end %>
  </div>
  <script type="text/javascript">
    localStorage.setItem('eventId', "<%= @event.id %>")
  </script>
</div>