<!DOCTYPE html>
<html>
  <head>
    <title>WorksForMe</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <% current_uri = request.env['PATH_INFO'] %>
  <% list_of_paths = ['/login', '/logout', '/users/new', '/sessions', '/', '/users'] %>
  <% if !list_of_paths.include?(current_uri) %>
    <header id="pageHeader">
        <% if current_user %>
            <p>
              Welcome, <%= current_user.name %>
              &nbsp;&nbsp;|&nbsp;&nbsp;
              <%= link_to 'Log Out', session_path('dummy'), method: :delete %>
        <% else %>
              <%= link_to 'Log In', login_path %>
              &nbsp;&nbsp;|&nbsp;&nbsp;
              <%= link_to 'Sign Up', new_user_path %></p>
        <% end %>
            </p>
    </header>
    <article id="mainArticle">
      <%= yield %>
    </article>
    <nav id="mainNav">
      <h1>Dashboard</h1>
      <h3><%= link_to 'My Events', events_path %></h3>
      <h3><%= link_to "Events I'm Attending", profile_path %></h3>
      <p class="done"><%= link_to 'Create A New Event', new_event_path %></h3>
    </nav>
    <footer id="pageFooter">Works For Me</footer>
  <% else %>
    <body class="alt">
      <%= yield %>
    </body>
  <% end %>
</body>
</html>